/*This is the base stylesheet for the site.*/

#topBar {
	width: 97.5%;
	height: 20%;
	position: fixed;
	background-color: orange;
}

#boxHolder {
	margin-top: 30%;
}
.textBox {
	height: 97.5%;
	width: 35%;
	background-color: #BFBFBF;
	/*position: relative;*/ 
	display: block;
}
